$title-font: 'Galada', cursive;
$content-font: 'Poppins', sans-serif;
$sharpie: 'Permanent Marker', cursive;

body {
  padding: 0;
  margin: 0;
}

main {
  background: linear-gradient(to bottom right, #48009A, pink);
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 70% 30%;
  max-width: 1400px;
  margin: 0 auto;
}

#hero-img {
  grid-column: 1;
  width: 900px;
  margin: 0 auto;
  height: 100%;
  
  #selected-img {
    text-align: center;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 8px black;
  }

  img {
    width: 680px;
  }

  h2 {
    margin: 0 auto;
    font-family: $sharpie;
    font-size: 40px;
    padding-bottom: 10px;
  }
}

header {
  display: flex;
  flex-direction: row;
  grid-row: 1;
  height: 60px;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 4px solid black;

  h1 {
    display: inline-block;
    width: 200px;
    font-family: $title-font;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 40px;
    box-shadow: 2px 4px 0px 0px black;
  }

  .search-bar {
    margin-left: 30px;
    padding-top: 20px;
    display: inline-block;
    width: 800px;

    input {
      border: 0;
      border-bottom: 2px black solid;
    }

  }

  #logo-img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding-top: 10px;
  }

}

.img-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  padding-top: 10px;

  li {
    list-style: none;
  }

  li>a>img {
    width: 74px;
    margin-right: 24px;
    background-color: white;
    padding: 2px 2px 20px 2px;
    box-shadow: 2px 2px 4px black;
  }

  .img-list-li {
    margin-left: -5px;
  }
}

h5 {
  display: inline-block;
  margin-right: 5vw;
}

#check-boxes {
  background-color: white;
  padding-top: 20px;
  width: 340px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  main {
    display: inline-block;
  }

  #hero-img {
    width: 667px;
  
    #selected-img {
      margin: 2px auto;
      padding: 0;
      width: 500px;
      img {
        width: 450px
      }
    }
  }
}